/*start */
*{margin:0;padding:0;font-size:14px;font-family:'Microsoft YaHei';}
body{background:#fff;;color:#666;}
li{list-style:none;}
img{border:0;}
.content{height:auto;background:none;width:99.99%;}
/*header*/
.login_header{
    position: absolute;
    right:0;
    top:15px;
}
.login_header a{
    display:block;
    float:left;
    height:21px;
    padding:0 18px;
    background:url("/images/login/login_icon.png") no-repeat 0 3px;
    color:#fff;
    cursor:pointer;
    text-decoration:none;
}
.login_header a:hover{
    text-decoration:underline;
}
.login_header a.help{
    background-position:-109px 3px;
}
.login_header a.lang{
    background-position:-207px 3px
}
.login_logo{
    position: relative;
    width:100%;
    height:350px;
    background:#00aaaa url("/images/login/login_bg.png") no-repeat center 0;
}
.login{
    width:100%;
    background:#fff;
    padding:33px 0;
}
.logo_icon{
    position: relative;
    display: block;
    width: 500px;
    top:90px;
    margin: 0 auto;
}
/*title*/
.title_wrap{
    position:relative;
    width:100%;
    height:100px;
    background:#fafafa;
    border-bottom:1px solid #eee;
    text-align:center;
    box-sizing:border-box;
    padding-top:30px;
}
.title_icon{
    position:relative;
    top:5px;
    display:inline-block;
    width:24px;
    height:26px;
    background:url("/images/login/down_help.png") no-repeat 0 0;
}
.title_icon_help{
    width:27px;
    background-position:-33px 0;
}
.title_wrap span{
    margin-left:6px;
    display:inline-block;
    font-size:26px;
    color:#333;
}
/*help*/
.wrap{height:400px;width:1024px;margin:0 auto;}
.wrap ul{position:relative;top:40px;}
.wrap ul li{display:block;float:left;width:50%;}
.wrap ul li a{text-align:center;display:block;width:220px;margin:0 auto;padding:40px 10px;color:#666;-height:200px;line-height:60px;border-radius:9px;cursor:pointer;text-decoration:none;}
.wrap ul li a:hover{background:#fafafa;border:1px solid #eee;color:#fff;}
.wrap ul li a span{display:block;margin-top:6px;line-height:30px;font-size:16px;color:#666;border-radius:12px;}
.wrap ul li a:hover span{color:#fff;background:#666;}
.icon_pdf{display:block;margin:0 auto; margin-top:10px;width:68px;height:77px;background:url("/images/login/icon_pdf.png") no-repeat 0 0;}
/*end*/

.cpr{padding:10px 0;}
.cpr,.cpr *{font-size:11px;color:#999;}

/*down*/
.wrap1{width:1400px;margin:0 auto;margin-top:20px;}
.list{float:left;margin-right:10px;width:330px;border:1px solid #eee;margin-top:20px;}
.list:last-child{margin-right:0;}
.list_top{
    position:relative;
    width:100%;
    height:130px;
    background:#eee;
}
.list_tr{
    float:left;
    position:relative;
    left:36px;
    top:20px;
}
.sys_icon{
    position:relative;
    top:16px;
    left:20px;
    float:left;
    display:block;
    width:54px;
    height:54px;
    background:url("/images/login/icon_sys.png") no-repeat 0 0;
}
.sys_icon_linux{
    background-position:-74px 0;
}
.sys_icon_redhat{
    background-position:-144px 0;
}
.sys_icon_cenos{
    background-position:-206px -4px;
}
.sys_icon_suse{
    background-position:-269px -4px;
}
.list h3{font-size:16px;color:#000;}
.list a{line-height:30px;cursor:pointer;color:#3A7ECB}
.list a:hover{color:#1fa4c7;text-decoration:underline;}
.list span{display:inline-block;margin-left:20px;}
.list p{line-height:26px;padding:20px;box-sizing:border-box;}

.list .icon_copy{
    position:relative;
    margin-left:10px;
    top:2px;
    display:inline-block;
    width:16px;
    height:16px;
    background:url("/images/login/icon_copy.png") no-repeat 0 0;
    cursor:pointer;
}
.list .icon_copy:hover{
    background-position:0 -16px ;
}
.copy_wrap{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
}
.copy_bg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#fff;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); 
    opacity:0.7;
    z-index:87;
}
.copy{
    position:relative;
}
.copy_body{
    position:relative;
    margin:0 auto;
    margin-top:120px;
    width:500px;
    height:80px;
    background:#fff;
    border:1px solid #00aaaa;
    border-radius:10px;
    z-index:88;
    padding:0 15px;
}
.copy_inner{
    width:100%;
    height:100%;
    position:absolute;
    top:26px;
    left:0;
    text-align:center;
}
.copy_close{
    display:block;
    position:absolute;
    top:-16px;
    right:-16px;
    width:32px;
    height:32px;
    color:#fff;
    line-height:32px;
    background:url("/images/login/icon_close.png") no-repeat 0 0;
    cursor:pointer;
}
@media screen and (max-width:1400px){
    .wrap1{width:700px}
}
@media screen and (max-width:800px) {
    .wrap1{width:auto;}
    .list {width: 90%;margin-left:20px;}
}